{%- for fragment in markup -%}
  {%- case fragment.type -%}
  {%- when 'code' -%}
    <SPAN CLASS="code">
      {{- fragment.text | escape -}}
    </SPAN>
  {%- when 'emphasized' -%}
    <EM>
      {{- fragment.text | replace: '<', '&lt;' | replace: '>', '&gt;' -}}
    </EM>
  {%- when 'link' -%}
    <A HREF="{{ fragment.url }}"{% if fragment.offsite %} target="_blank" rel="nofollow"{% endif %}>
      {{- fragment.text | replace: '<', '&lt;' | replace: '>', '&gt;' -}}
    </A>
  {%- else -%}
    {{- fragment.text | replace: '<', '&lt;' | replace: '>', '&gt;' -}}
  {%- endcase -%}
{%- endfor -%}
