<!DOCTYPE html>
<HTML LANG="en"><HEAD><TITLE>{{ page.blurb }}</TITLE>
<meta name="description" content="{{ page.blurb }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
{% if config.favicon %}
<link rel="icon" type="image/png" href="{{ page.root }}/{{ config.favicon }}">
{% endif %}
{%
  liquid
  assign galleries = page.content | where: "type", "gallery" | default: 0
  assign insets    = page.content | where: "type", "inset" | default: 0
  assign overlays  = galleries.size | add: insets.size
%}
{% if overlays > 0 %}
<script>
function showOverlay(image_path) {
  var img = '<IMG SRC="' + image_path + '" onclick="hideOverlay()">';
  document.getElementById("overlay").style.display = 'flex';
  document.getElementById("overlay_image").innerHTML = img;
}
function hideOverlay() {
  document.getElementById("overlay").style.display = 'none';
}
</script>
{% endif %}
<style>
{% render 't_css' with colours:config.colours,
                       widths:config.widths,
                       page:page,
                       config:config,
                       dimensions:config.dimensions,
                       overlays:overlays %}
</style>
{% render 't_breadcrumbs_origin_head' with page:page %}
</HEAD><BODY>
{% if overlays > 0 %}
<DIV ID="overlay" CLASS="overlay" onclick="hideOverlay()">
  <DIV CLASS="overlay_back size1 size2 size3" onclick="hideOverlay()"></DIV>
  <DIV CLASS="size1 size2 size3" ID="overlay_image" onclick="hideOverlay()"></DIV>
  <DIV CLASS="overlay_front size1 size2 size3" onclick="hideOverlay()"></DIV>
</DIV>
{% endif %}
<DIV CLASS="page">
{% if config.logo %}
<DIV CLASS="logo"></DIV>
{% endif %}
{% if config.legend %}
<DIV CLASS="legend">{{ config.legend }}</DIV>
{% endif %}
{% render 't_breadcrumbs_origin_body' with config:config, page:page %}
<DIV CLASS="payload content {{ page.index_style }}">
  {% if page.content %}
    <DIV CLASS="story t1">
      {% render 't_title' with page:page %}
      {% render 't_story_indexes' with story_index:page.story_index %}
      {% render 't_content', content:page.content %}
      {% if page.line_count > 20 %}
        {% render 't_navigation' with config:config, page:page %}
      {% endif %}
    </DIV>
  {% endif %}
  {% render 't_text_indexes' with text_index:page.text_index,
                                   text_index_size:page.text_index_size %}
  {% render 't_image_indexes' with image_index:page.image_index %}
  {% render 't_rect_indexes' with rect_index:page.rect_index %}
</DIV>
</DIV></BODY></HTML>
